
.icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    /*border: 1px solid black;*/
    flex-shrink: 0;
}
.centerpiece{
    width: 6rem;
    height: 6rem;
}

.large{
    width: 3rem;
    height: 3rem;
}
.medium{
    width: 1.6rem;
    height: 1.6rem;
}
.small{
    width: 1.25rem;
    height: 1.25rem;
}

.iconSvg{
    width: 100%;
    height: 100%;
}