.dialog{
    width: 100%;
    padding: 0 40px 25px 40px;
}
.dialog.centered{
    /*margin: auto;*/
    height: 100%;
    display: flex;
    align-items: center;

}
.dialog.selfCentering{
    position: absolute;
}

.flipMoveContainer{
    width: 100%;
    transition: transform .25s;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.context{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--mediumpurple);
    line-height: 1.5rem;
    text-align: center;
}

.button, .subButton{
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subButton{
    background: white;
    /*box-shadow: none;*/
    color: var(--actionpurple);
}