.outsideApp{
    /*position: absolute;*/
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
}

.flipmoveContainer{
    width: 100%;
    height: 100%;
}

.myChart{
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: url();*/
}

.myChart .placeholderIcon{

}

.myChart .header{
    align-self: flex-start;
    display: flex;
    /*height: 60px;*/
    align-items: center;
    padding: 20px;
    background: #EA5776;
    color: white;
    width: 100%;

}
.myChart .body{
    background: #F5EDEF;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.myChart .modal{
    background: white;
    box-shadow: var(--basicshadow);
    padding: 25px;
    line-height: 1.4rem;
    margin-bottom: 3rem;
}
.context{
    margin: 0;
}
.myChart .actions{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.myChart .actions .buttons{
    width: 145px;
    margin-top: 25px;
}
.myChart .actions .ok{
    margin-left: 15px;
    color: white;
    background: #3CD385;
    font-weight: 600;
}
.myChart .actions .cancel{
    color: #919191;
    background: white;
    border: 1px solid #d7d7d7;
}