.onboarding{
    width: 100vw;
    height: 100vh;
    background: var(--void);
    /*display: flex;*/
}

.flipmoveContainer{
    width: 100%;
    height: calc(100% - 55px);
    display: flex;
    transition: transform .35s;
}

.flipmoveContainer.noHeader{
    transform: translateY(-55px);
}