.openIntegrationDialog{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.appBadge{
    display: inline-flex;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--lightpurple);
    box-shadow: var(--basicshadow);
}
.context{
    padding: 25px;
    margin-top: 20px;
    color: var(--mediumpurple);
    line-height: 1.5rem;
    margin-bottom: 15px;
}