

.pickIntegrationTypes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.x{
    position: absolute;
    /*top: 25px;*/
    margin-left: .75rem;
    margin-top: 1.5rem;
    z-index: 0;
    /*top: 0; bottom: 0; margin: auto;*/
}
.x.hidden{
    visibility: hidden;
}

.accountTypeList{
    margin-top: .75rem;
    padding: 0 1rem;
    /*background: #f3f3f5;*/
    /*border: 1px solid red;*/
}
.itemWrapper{
    height: 5.15rem;
}
.accountTypeItem{
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    padding: .65rem;
    display: flex;
    align-items: center;

    /*border: 1px solid black;*/
    border: 1px solid #d7d7d7;
    background: #fbfbfc;

    border-radius: 8px;

    transition: transform .3s, background .25s, border-color .25s, box-shadow .25s;

    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}
.accountTypeItem.selected{
    /*border-color: black;*/
    border-color: var(--mediumpurple);
    background: white;
    transform: translateX(55px);
}
.accountTypeItem.passive{

    /*background: var(--faintpurple);*/
    background: #f3f3f5;
    border-color: var(--faintpurple);
    /*box-shadow: 0 0 3px 0 rgba(0,0,0,0);*/
}
.accountTypeItem.passive .title{color: var(--mediumpurple);}
.icon{
    margin-right: 12px;
}
.title{
    color: var(--textpurple);
    font-size: 1rem;
    font-weight: 500;
}
.examples{
    margin-top: 5px;
    color: var(--mediumpurple);
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
    max-width: 240px;
}
.selectedText{
    color: var(--mediumpurple);
    /*margin-bottom: 5px;*/
    line-height: 1.3rem;
}

.bottomButtonWrapper{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    /*height: 90px;*/
    flex-grow: 1;
    padding-bottom: 1rem;
}
.btnFlipMove{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.startBatchSyncButton{
    box-sizing: border-box;
    /*position: absolute;*/
    width: 100%;
    padding: 0 1rem;
}
.startBatchSyncButton .btn{
    box-sizing: border-box;
    width: 100%;
}

.zipCheck{
    position: absolute;
    bottom: 0;
    /*height: 200px;*/
    width: 100%;
    background: #fbfbfc;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.15);
    border: 1px solid #d7d7d7;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
    z-index: 3;
}
    .zipCheck .prompt{
        margin: 0;
        margin-top: 1.25rem;
        color: var(--textpurple);
        font-size: 1.25rem;
    }
    .zipCheck .context{
        font-size: .8rem;
        padding: 0 1rem;
        text-align: center;
        color: var(--mediumpurple);
        line-height: 1.3rem;
    }
    .zipCheck .context em{
        font-size: .8rem;
        font-style: normal;
        color: var(--textpurple);
        font-weight: 600;

    }
    .zipInput{
        border-radius: 8px;
        padding: .7rem;
        font-size: 1.4rem;
        width: 13rem;
        text-align: center;
        border: 1px solid #d7d7d7;
        display: flex;
        align-items: center;
        margin-top: .25rem;
        z-index: 3;
    }
    .zipInput:focus{
        border: 1px solid var(--actionpurple);
        outline: none;
    }
    .zipInput::placeholder{
        font-size: 1.15rem;
        color: #d7d7d7;
        /*margin-bottom: .15rem;*/
        margin-top: -.25rem;
    }
    .zipCheck .cityState{
        position: absolute;
        display: flex; align-items: center;
        width: 100%; justify-content: center;
        white-space: nowrap;
        margin-top: 1rem;
        bottom: 1.75rem;
        color: var(--mediumpurple);
    }
    .zipCheck .cityState .icon{
        margin-right: .25rem;
    }
    .zipCheck .decline{
        width: 100%;
        text-align: center;
        white-space: nowrap;
        position: absolute;
        margin-top: 1rem;
        bottom: 1.75rem;
        color: var(--actionpurple);
        font-weight: 500;
    }
    .confirmZIPButton{
        position: absolute;
        right: 2rem;
        bottom: 2.25rem;
        z-index: 13;
        pointer-events: none;
        transform-origin: 30% 50%;
        transform: scale(0);
        transition: transform .25s;
    }
    .confirmZIPButton.show{
        pointer-events: all;
        transform: scale(1);
        /*opacity: 1;*/
    }